body {
  background-color: var(--darkCyan);
}

.card {
  background-color: white;
}
/* Top part of the card */
.card-top::before {
  background-color: var(--card-cyan);
}

.user-adress,
.user-age,
.aux-text {
  color: var(--darkGray);
}


.card-top::after {
  background-color: var(--light-grey);
}

body {
  background: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(185deg, 75%, 39%);
}