
:root {
  --darkCyan: hsl(185, 75%, 39%);
  --card-cyan: #41CBD3;
  --desatBlue: hsl(229, 23%, 23%);
  --grayBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
  --light-grey: #E8E9EC;
  --boxShadow: #0000003e;
  --bold-font: 700;
  --light-font: 400;
  --card-height: 36rem;
  --card-width: 32rem;
  --large-font: 1.8rem;
  --small-font: 1.4rem;
  --smaller-font: 1.0rem;
  
  --card-radius: 1.5rem;

}



.attribution {
  color: var(--desatBlue);
  font-size: 1.1rem;
  text-align: center;
}

a:hover {
  color: var(--desatBlue);
  font-weight: var(--bold-font);
}
