body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  gap: 1rem;
  position: relative;
  box-shadow: 4px 4.5px 10px 3px var(--boxShadow);

  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-radius);
}

.card-top {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.4rem;
  z-index: 1;
  position: absolute;
  top: 9.2rem;
}

.card-bottom {
  min-width: 100%;
  position: absolute;
  bottom: 2.4rem;
}

/* Top part of the card */
.card-top::before {
  content: "";
  width: var(--card-width);
  height: 14rem;
  position: absolute;
  top: -104px;
  z-index: -1;
  border-radius: var(--card-radius);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.user-img {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 10rem;
  outline: 0.5rem solid white;
}

.user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.8rem;
}

.user-name-age {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.user-adress {
  margin-bottom: 2.5rem;
}

.card-top::after {
  content: "";
  width: var(--card-width);
  height: 0.2rem;
  border-radius: 4px;
  border: 1px solid transparent;
}

/* bottom part of the card */

.user-info-list {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.user-info-li-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
}
